@switch (Item)
{
    case FullTrack track when track.Uri.Contains("2bNCdW4rLnCTzgqUXTTDO1"): 
        // This track is 4'33 by John Cage: 4 minutes and 33 seconds of silence
        // It is used by the web sdk to start up the player
        <h1>Welcome to Spiralfy!</h1>
        <p>Use the button above to randomize between your playlists!</p>
        break;
    case FullTrack track:
        <img class="w-100" style="object-fit: cover" src="@track.Album.Images.First().Url" alt="@track.Name">
        <div class="w-100">
            <div>
                <h4 class="card-title">@track.Name</h4>
                <p>@track.Album.Name</p>
                <small>@string.Join(", ", track.Artists.Select(a => a.Name))</small>
            </div>
        </div>
        break;
    case FullEpisode episode:
        <img class="w-100" src="@episode.Images.First().Url" alt="@episode.Name">
        <div class="w-100">
            <div>
                <h4>@episode.Name</h4>
                <p>@episode.Show.Name</p>
                <details>
                    <summary>Description</summary>
                    <small>@episode.Description</small>
                </details>
            </div>
        </div>
        break;
}

@code{

    [Parameter]
    public IPlayableItem Item { get; set; }

}
